[user]
	name = frerodla
	email = fmr@finn.no

[alias]
lg = log --graph --pretty=format:'%Cred%h%Creset %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
l = log --graph --pretty=format:'%Cred%h%Creset %Cblue%an%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
revprompt = log --pretty=format:'%h'
lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
alol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
s = status -sb
wd = diff --word-diff
backone = reset --hard HEAD~1
co = checkout
ci = commit -a
	amend = commit --amend
	hard = reset --hard

[core]
	autocrlf = input
	editor = nano
	excludesfile = /Users/frerodla/.gitignore_global

[branch]
	autosetuprebase = always

[color]
	ui = auto

[credential]
	helper = cache

[mergetool]
	prompt = false
	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[branch "master"]
	rebase = true
[push]
	default = upstream

[branch]
       autosetuprebase = always
